<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="DataMapping">
			<section name="StipsToDataTableColumn" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
	</configSections>
	<DataMapping>
		<StipsToDataTableColumn>
			<add key="q" value="title"/>
			<add key="text_content" value="new_quastion_content"/>
			<add key="name" value="new_data_name"/>
			<add key="time" value="new_event_date"/>
			<add key="answer_count	" value="new_tguvot_text"/>
			<add key="url" value="new_extra_url"/>
		</StipsToDataTableColumn>
	</DataMapping>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>